@charset "utf-8";

body {
  font-family: 'Press Start 2P', cursive;
}
  
body {
  font-family: 'DotGothic16', sans-serif;
}
  
.logo {
  height: 12vh;
}

.logo img {
  width: 5vw;
}

.logo a:link, a:active, a:visited {
  text-decoration: none;
  color: black;
}

.logo a {
  font-size: 2.7rem;
  color: black;
}

.navigatie_boven a {
  font-size: 2rem;
  margin-left: 1.4rem;
  color: black;
}
  
.navigatie_boven a:link, a:active, a:visited {
  color: black;
}
/*.navigatie_boven a:hover {
  color: white;
}*/
  
.item-profiel img {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 1.3vw;
}