@charset "utf-8";

@font-face {font-family: "Chalkduster";
    src: url("../font/bd9805cba4fdbd10e6f9d097dab9225f.eot");
    src: url("../font/bd9805cba4fdbd10e6f9d097dab9225f.eot?#iefix") format("embedded-opentype"),
    url("../font/bd9805cba4fdbd10e6f9d097dab9225f.woff2") format("woff2"),
    url("../font/bd9805cba4fdbd10e6f9d097dab9225f.woff") format("woff"),
    url("../font/bd9805cba4fdbd10e6f9d097dab9225f.ttf") format("truetype"),
    url("../font/bd9805cba4fdbd10e6f9d097dab9225f.svg#Chalkduster") format("svg");
  }

* {
    padding: 0;
    margin: 0;
}

html{
    background-image: url("../images/green-school-boards-500x500.jpeg");
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.eenvoudig{
    font-family: 'Chalkduster';
}

.logo {
    width: 10%;
    height: 10%;
    float: left;
}

h1{
    color: white;
    text-align: center;
    display: inline;
    font-family: 'Chalkduster';
    font-size: 20px;
}

ul li ul {
   display: none;
   position: absolute;
   left: 39vw;
   font-family: 'Chalkduster';
}

ul li:hover ul, ul li:hover #simpel, ul li:hover #complex {
    display: block;
}

ul{
    color: white;
    display: flex;
    width: 70%;
    font-family: 'Chalkduster';
}

li{
    list-style: none;
    color: white;
    float: left;
    height: 2%;
    width: 30%;
    text-align: center;
    padding: 6%;
    margin: 0%;
    font-size: 30px;
    font-family: 'Chalkduster_400';
}

ul li ul li {
    margin: 1%;
    font-size: 20px;
    text-align: left;
    font-family: 'Chalkduster';
}

.dropdown{
    display: none;
    width: 30vw;
    height: 5vh;
    font-family: 'Chalkduster';
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Chalkduster';
}

.complex{
    font-family: 'Chalkduster';
}

.complex .dropdown{
    font-family: 'Chalkduster';
    left: 54vw;
}

.image {
    width: 65px;
    float: right;
}
.slideshow-container {
    height: 70%;
    width: 65%;
    position: absolute;
    top: 23%;
    right: 18%;
}
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

footer{
    background-color: #06482a;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

footer h1{
    position: absolute;
    left: 35vw;
    top: 10px;
}

input{
    font-family: "chalkduster";
}

#simpel{
    display: none;
    position: absolute;
    top: 8vh;
    left: 40vw;
    width: 22vw;
    height: 60vh;
}

#complex{
    display: none;
    position: absolute;
    top: 8vh;
    left: 55vw;
    width: 23vw;
    height: 40vh;
}

.welkom{
    width: 50% ;
    text-align: center;
}

.rekenmachine{
    height: 50vh;
    width: 40vw;
    position: absolute;
    left: 55vw;
    top: 25vh;
    border: white solid 2px;
}